language: node_js

node_js:
  - "0.10"

services:
  - redis-server

before_install:
  - sudo add-apt-repository ppa:libreoffice/libreoffice-5-0 --yes
  - sudo apt-get update

install:
  - sudo apt-get install -qq libreoffice
  - npm install

before_script:
  - loffice --version
  - npm install --dev

script:
  - npm test
